<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="1C Web-service Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\1cv8\8.3.26.1521\bin\wsisapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness64" />
        </handlers>
		<httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="PanelRedirect" enabled="true" stopProcessing="true">
                    <match url=".*(#.*)?" />
                    <conditions>
                        <add input="{HTTP_REFERER}" pattern="^$" />
                    </conditions>
                    <action type="Redirect" url="http://{HTTP_HOST}/app{R:1}" appendQueryString="false" redirectType="Temporary" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
