<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="1C Web-service Extension" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Program Files\1cv8\8.3.26.1521\bin\wsisapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="bitness64" />
        </handlers>
		<httpErrors errorMode="Detailed" />
        <rewrite>
            <rules>
                <rule name="API options" stopProcessing="true">
                    <match url=".*" />
                    <serverVariables>
                        <set name="HTTP_Authorization" value="Basic QVBJT3B0aW9uczpNendmNGg1UGx4" replace="false" />
                    </serverVariables>
                    <action type="None" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
                    </conditions>
                </rule>
                <rule name="KanbanAuth" stopProcessing="true">
                    <match url="hs/api/(kanban|elapsedTime/activities|directions|products|customerGroup|systems).*" />
                    <serverVariables>
                        <set name="HTTP_Authorization" value="Bearer JWT-token" replace="false" />
                    </serverVariables>
                    <action type="None" />
                </rule>
                <rule name="CounterAuth" stopProcessing="true">
                    <match url="hs/api/toolCounters.*" />
                    <serverVariables>
                        <set name="HTTP_Authorization" value="Basic QVBJX0NvdW50ZXJzOkp2dHVPRWZ2" replace="false" />
                    </serverVariables>
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
